.button {

    /*-fx-width: 100%;*/
    /*-fx-height: 3em;*/
    -fx-display: flex;
    -fx-flex-direction: row;
    -fx-justify-content: center;
    -fx-align-items: center;
    -fx-background: #000000;
}

.button:hover {
    -fx-width: 220px;
    -fx-height: 50px;
    -fx-border: none;
    -fx-outline: none;
    -fx-text-fill: #fff;
    /*-fx-background-color: #ffffff;*/
    -fx-cursor: pointer;
    -fx-position: relative;
    -fx-z-index: 0;
    -fx-border-radius: 10px;
}
